---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="{{ site.baseurl }}/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% comment %} Use single data file if it exists; otherwise use _talks collection. {% endcomment %}
{% if site.data.talks and site.data.talks.size > 0 %}
  {% for talk in site.data.talks %}
    {% include archive-single-talk-from-data.html %}
  {% endfor %}
{% else %}
  {% for post in site.talks reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endif %}
